/* color */
$logo-orange: #eb5f02;
$orange-ligher: #faf7f3;
$header: #ffaA04;

// text
$text-body: #444;
$text-body-darker: #222;
$link: #175777;

// button
$btn-blue: #1e6385;
$btn-templates: #ec9b26;
$btn-picking: #2199D4;
$btn-estimation: #2d9e8d;
$btn-materials: #cd5F89;

// background
$bg-body: #fafafa;
$bg-header: #f0f0f0;
$bg-table-th: #f2f2f2;
$bg-label: #f2f1ee;
$bg-orange-ligher: #faf7f3;
$bg-processed: #d1d1d1;

// border
$border-gray: #b8b8b8;
$border-gray-darker: #9a9a9a;
$border-gray-sp: #8c8c8c;
$border-tab: #8c8c8c;
$input-border: #bebebe;

// font size
$text-sm: 0.875rem;

// contents size
$w-container: 80rem; // 1280px
